@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    width: 100%;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('ksii.gif'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    filter: blur(10px); 
    z-index: -1; 
}


nav {
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0; 
    background-color: #101820; 
    z-index: 100;
}

.nav-container {
    width: 100%;
    height: 100%;
    margin-left: -6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo span {
    font-size: 2rem;
    font-weight: bold;
    color: #FEE715;
}

.nav-container .links {
    display: flex;
    gap: 20px;
    margin-right: -15rem;
}

.nav-container .links a {
    font-size: 1.3rem;
    padding: 2rem;
    color: #ffffff;
    font-weight: 700; 
    transition: 0.3s ease; 
    margin-right: 0rem;
}

.nav-container .links a:hover {
    transform: scale(1.1); 
    color: #FEE715;
}

.dropdown {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-400px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px) brightness(100%);
    box-shadow: 0 0 20px black;
    transition: transform 0.2s ease-in-out; 
}

.dropdown a {
    font-size: 1.5rem;
    display: flex;
    color: white;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: background-color 0.3s ease;
}

.dropdown a:hover {
    background-color: #FEE715;
}

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.images {
    position: relative;
    width: 500px;
    height: 500px; 
    overflow: hidden;
    background-image: url('splash.png'); 
    background-size: cover; 
    background-position: center; 
    margin-bottom: 30px;
    border-radius: 5rem;
}

.images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: opacity 0.3s ease-in-out; 
}

.images:hover {
    transform: scale(1.1);
    transition: opacity 0.3s ease;
    transition: transform 0.3s;
}


.images .main-image {
    z-index: 1;
    opacity: 1; 
}

.images .hover-image {
    z-index: 2;
    opacity: 0; 
}

.images:hover .main-image {
    opacity: 0; 
    transition: opacity 0.3s ease;
    filter: blur(10px);
}

.images:hover .hover-image {
    opacity: 1; 
    transition: opacity 0.3s ease;
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: clamp(1.5rem, 1rem + 5vw, 3rem); 
}

.content h1 span {
    font-weight: 700;
    text-shadow: 0 0 10px #FEE715;
    color: #FEE715;
}

.typing-text span {
    color: #FEE715;
    font-size: 3rem;
}

.words {
    color: #00bcd4;
    font-weight: bold;
}

.content p {
    font-size: clamp(0.8rem, 0.5rem + 2vw, 1.2rem); 
    margin: 10px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.social-links a {
    font-size: 2rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.1);
    color: #FEE715;
}

.abouts {
    position: relative;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    opacity: 0;
}

.show {
    opacity: 1;
}

.aboutTITLE {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color:#FEE715;
}

.about-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.about-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    position: relative;
    width: 400px;
    height: 90px;
    padding: 20px 100px;
    border-radius: 10px;
    background-color: #333;
    color:#FEE715;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: height 0.4s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.card-content {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.card:hover {
    height: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card:hover .card-content {
    opacity: 1;
    transform: translateY(0);
}

.card-content span{
    color: rgb(0, 255, 64);
    font-weight: bold;
    font-size: 1.3rem;
}

.aboutImages {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    margin-left: 100px;
    border-style: solid;
    border-color: #fff;
}

.aboutImages:hover {
    transform: scale(1.1);
}

.aboutImages #about-main {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.aboutImages #about-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.aboutImages:hover #about-main {
    opacity: 0;
    filter: blur(0.5rem);
}

.aboutImages:hover #about-hover {
    opacity: 1;
}


footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

footer .social-links a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #00bcd4;
}


/* FOR MOBILE PHONES */
@media screen and (max-width: 600px)
{
    .typing-text span {
        font-size: 1rem;
    }

    nav {
        width: 100%;
        height: 70px; 
        z-index: 1;
    }

    .nav-container .links {
        gap: 1px;
    }

    .nav-container .links a {
        font-size: 1rem;
        padding: 1rem;
    }

    .main-container {
        display: flex;
        flex-direction: column; 
        align-items: center;   
    }

    .images {
        order: -1; 
        width: 300px; 
        height: 300px;
        margin-bottom: 20px;
    }

    .main-container .content {
        width: 90%; /* Content takes up more space */
        text-align: center; /* Center-align text */
    }

    .content h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .typing-text span {
        font-size: 1.8rem;
    }
}


